<!DOCTYPE html>
<html>
    <head>
        {% include 'bases/head_base.html' %}
        <title>Control Panel</title>
    </head>
    <body>
        <form>
            <label>Genre Restriction: </label>
            <select name="genre-night">
                <option value="none">No Genre Restriction</option>
                {% for genre in genres %}
                    <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>
        </form>
    </body>
</html>
