<!DOCTYPE HTML>
<html>
    <head>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if is_filmweek %}
            <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style_voting.css' %}">
        {% else %}
            <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style_submitting.css' %}">
        {% endif %}
        <link href="//fonts.googleapis.com/css?family=Roboto+Slab|Inconsolata:400,700" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="content">
            {% if is_filmweek %}
                <h1>Voting is open</h1>
                    <div id="films">
                        {% for film in shortlisted_films %}
                            <div class="film">
                                <p>{{ film.name }}</p>
                                <img class="film-image" src="{% if film.poster_path != '' %}https://image.tmdb.org/t/p/w200{{ film.poster_path }}{% else %}/static/images/placeholder_film.png{% endif %}">
                            </div>
                        {% endfor %}
                    </div>
            {% else %}
                <h1>Submissions are open</h1>
                <form method="POST" action="/film_management/submit_film/" id="submit-form">
                    {% csrf_token %}
                    <input type="text" id="film-input" name="film_name" autocomplete="off">
                    <input type="submit" id="film-submit">
                </form>
                <p id="response-message" style="opacity: 0">.</p>
                <script>
                document.addEventListener('submit', function (e) {
                    e.preventDefault()
                    const form = e.target

                    fetch(form.action, {
                        method: form.method,
                        body: new FormData(form)
                    }).then(function (response) {
                        response.json().then(function (data) {
                            var responseMessage = document.getElementById('response-message')
                            if (!data['success']) {
                                responseMessage.innerHTML = 'Film already submitted'
                                responseMessage.style.opacity = '1'
                            } else {
                                responseMessage.innerHTML = 'Successfully added film'
                                responseMessage.style.opacity = '1'
                            }
                        })
                    })
                })
                </script>
            {% endif %}
        </div>
    </body>
</html>
