<!DOCTYPE HTML>
<html>
    <head>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if is_filmweek %}
            <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style_voting.css' %}">
        {% else %}
            <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style_submissions.css' %}">
        {% endif %}
        <link href="//fonts.googleapis.com/css?family=Roboto+Slab|Inconsolata:400,700" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
        <title>Dashboard</title>
    </head>
    <body>
        <div id="content">
            {% if is_filmweek %}
                <h1>Voting is open</h1>
                    <div id="films">
                        {% for film in shortlisted_films %}
                            <div class="film" onclick="updateFilm(this)" data-identifier="{{ film.film_id }}">
                                <p>{{ film.name }}</p>
                                <img class="film-image" src="{% if film.poster_path != '' %}https://image.tmdb.org/t/p/w200{{ film.poster_path }}{% else %}/static/images/placeholder_film.png{% endif %}">
                            </div>
                        {% endfor %}
                    </div>
                    <script>
                    var checkedFilms = {{ current_votes|safe }}

                    function updateFilm (element) {
                        var filmBackground = element.style.backgroundColor

                        if (filmBackground === '') {
                            element.style.backgroundColor = '#e8dafa'
                            checkedFilms.push(element.getAttribute("data-identifier"))
                        } else {
                            element.style.backgroundColor = ''
                            checkedFilms.splice(checkedFilms.indexOf(element.getAttribute("data-identifier")))
                        }
                        var voteRequest = new XMLHttpRequest()
                        voteRequest.open('POST', '/film_management/submit_votes/')
                        voteRequest.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                        voteRequest.send(JSON.stringify(checkedFilms))
                    }

                    for (var i=0; i<checkedFilms.length; i++) {
                        var element = document.querySelector('[data-identifier='+checkedFilms[i]+']')
                        element.style.backgroundColor = '#e8dafa'
                    }
                    </script>
                    <a id="films-link" href="/films/">See all submitted films</a>
            {% else %}
                <h1>Submissions are open</h1>
                <input type="text" id="film-input" name="film_name" autocomplete="off">
                <div id="film-dropdown">
                </div>
                <script>
                    document.getElementById('film-input').addEventListener("input", function () {
                        var request = new XMLHttpRequest()
                        request.open('POST', '/film_management/search_films/')
                        request.setRequestHeader('X-CSRFToken', '{{ csrf_token }}')
                        request.onreadystatechange = function () {
                            if (request.readyState === 4) {
                                var data = JSON.parse(request.response)['films']
                                var dropdown = document.getElementById('film-dropdown')
                                dropdown.innerHTML = ''
                                for (index in data) {
                                    var film = data[index]
                                    if (film[2] !== true) {
                                        dropdown.innerHTML += '<p><a href="/film_management/submit_film/' + film[1].toString() + '">' + film[0] + '</a></p>'
                                    } else {
                                        dropdown.innerHTML += '<p class="strikethrough"><a>' + film[0] + '</a></p>'
                                    }
                                }
                            }
                        }
                        request.send(document.getElementById('film-input').value)

                    })
                </script>
                <p unselectable="on" id="response-message">{% if messages %}{% for message in messages %}{{ message }}{% endfor %}<script>setTimeout(function () {document.getElementById('response-message').style.opacity = '0'}, 3000)</script>{% else %}.<style>#response-message {opacity: 0;}</style>{% endif %}</p>
                <a id="films-link" href="/films/">See all submitted films</a>
            {% endif %}
        </div>
    </body>
</html>
