<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% include 'bases/head_base.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'films/film/css/style.css' %}?v=2">
        <title>{{ film.name }}</title>
        <style>
        body {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url('https://image.tmdb.org/t/p/original/{{ film.backdrop_path }}')
        }

        @media screen and (max-width: 500px) {
            body {
                background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('https://image.tmdb.org/t/p/original/{{ film.backdrop_path }}');
            }
        }
        </style>
    </head>
    <body>
        <div id="content">
            <h1>{{ film.name }}</h1>
            <h2>{{ film.tagline }}</h2>
            <p>{{ film.description }}</p>
            <p>IMDB Rating: {% if film.score != -1 %}{{ film.score }}{% else %}Unavailable{% endif %}</p>
            {% if user.is_superuser %}<p>Submitting user: {{ film.submitting_user.first_name }} {{ film.submitting_user.last_name }}</p>{% endif %}
        </div>
    </body>
</html>
