<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link rel="stylesheet" type="text/css" href="{% static 'films/css/style.css' %}">
        <link href="//fonts.googleapis.com/css?family=Roboto+Slab|Inconsolata:400,700" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
        <title>{{ film.film }}</title>
    </head>
    <body>
        {{ film.film }}
    </body>
</html>