<!DOCTYPE HTML>
<html>
    <head>
        {% load static %}
        {% include 'bases/head_base.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'films/css/style.css' %}">
        <title>Films</title>
    </head>
    <body>
        <div id="content">
            <h1>Watchlist</h1>
            <table cellspacing="0">
                <tr>
                    <th></th>
                    <th>Film Name</th>
                    <th>Genre</th>
                    <th id="date-submitted">Date submitted</th>
                    {% if user.is_superuser %}<th id="delete"></th>{% endif %}
                </tr>
                {% for film in films %}
                <tr id="{{ film.tmdb_id }}">
                    <td onclick="window.open('/films/{{ film.tmdb_id }}','_blank')"><img class="film-image" src="{% if film.poster_path != '' %}https://image.tmdb.org/t/p/w200{{ film.poster_path }}{% else %}/static/images/placeholder_film.png{% endif %}"></td>
                    <td onclick="window.open('/films/{{ film.tmdb_id }}','_blank')">{{ film.name }}</td>
                    <td onclick="window.open('/films/{{ film.tmdb_id }}','_blank')">{{ film.genres|join:', ' }}</td>
                    <td onclick="window.open('/films/{{ film.tmdb_id }}','_blank')">{{ film.date_submitted }}</td>
                    {% if user.is_superuser %}<td class="delete-button"><a href="/film_management/delete_film/{{ film.tmdb_id }}">Delete</a></td>{% endif %}
                </tr>
                {% endfor %}
                {% if user.is_superuser %}
                    <style>
                        #date-submitted {
                            width: 25%;
                        }    

                        #delete {
                            width: 5%;
                        }
                    </style>
                {% endif %}
            </table>
        </div>
    </body>
</html>

