<!DOCTYPE HTML>
<html>
    <head>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link rel="stylesheet" type="text/css" href="{% static 'films/css/style.css' %}">
        <link href="//fonts.googleapis.com/css?family=Roboto+Slab|Inconsolata:400,700" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
        <title>Films</title>
    </head>
    <body>
        <div id="content">
            <h1>Films currently on the watchlist</h1>
            <table>
                <tr>
                    <th></th>
                    <th>Film Name</th>
                    <th id="in-current-vote">In current vote</th>
                    <th id="date-submitted">Date submitted</th>
                    {% if user.is_superuser %}<th id="delete-stupid-suggestion"></th>
                </tr>
                {% for film in films %}
                <tr>
                    <td><img class="film-image" src="{% if film.poster_path != '' %}https://image.tmdb.org/t/p/w200{{ film.poster_path }}{% else %}/static/images/placeholder_film.png{% endif %}"></td>
                    <td>{{ film.name }}</td>
                    <td>{% if film.in_current_vote %}✔{% endif %}</td>
                    <td>{{ film.date_submitted }}</td>
                    <td><a href="/film_management/delete_film/{{ film.film_id }}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>

