<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <link rel="stylesheet" type="text/css" href="{% static 'films/film/css/style.css' %}">
        <link href="//fonts.googleapis.com/css?family=Roboto+Slab|Inconsolata:400,700" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
        <title>{{ film.name }}</title>
        <style>
        body {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url('https://image.tmdb.org/t/p/original/{{ film.backdrop_path }}')
        }
        </style>
    </head>
    <body>
        <div id="content">
            <h1>{{ film.name }}</h1>
            <h2>{{ film.tagline }}</h2>
            <p>{{ film.description }}</p>
            {% if user.is_superuser %}<p>Submitting user: {{ film.submitting_user.first_name }} {{ film.submitting_user.last_name }}</p>{% endif %}
        </div>
    </body>
</html>
