table {
  width: 100%;
  text-align: left;
}

tr {
  cursor: pointer;
  transition: background-color 0.3s linear;
  height: 50px;
}

tr:hover:not(:first-child) {
  background-color: var(--selected-bg-color);
}

th {
  margin: 20px;
  cursor: default;
}

#date-submitted {
  width: 30%;
}

.film-image {
  width: 100px;
  padding-top: 5px;
  padding-left: 10px;
}

.delete-button {
  padding-right: 20px;
}
