body {
  background-color: #f3f2f4;
  color: #372d43;
  font-family: 'Inconsolata', monospace;
  overflow-x: hidden;
  margin: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', monospace;
  font-weight: 200;
}

table {
  width: 100%;
  text-align: left;
}

#date-submitted {
  width: 30%;
}

.film-image {
  width: 100px;
}
