body {
  color: #f3f2f4;
  background-color: #372d43;
  font-family: 'Inconsolata', monospace;
  overflow-x: hidden;
  background-size: cover;
  background-attachment: fixed;
}

html,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', monospace;
  font-weight: 200;
  margin-top: 0;
}

#content {
  margin: 20px;
}

p {
  width: 40%;
  min-width: 400px;
}
