h1 {
  font-size: 3em;
}

#content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#logo {
  display: block;
  width: 200px;
}

#header-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-text {
  margin-left: 20px;
}

#auth-links {
  margin: 50px;
}

#auth-links a {
  text-decoration: none;
  text-align: center;
  display: block;
  color: inherit;
  padding: 20px;
  margin: 10px;
  border-radius: 50px;
  transition: all linear 0.3s;
}

#auth-links a:hover {
  background-color: var(--fg-color);
  color: var(--bg-color);
}

@media only screen and (max-width: 500px) {
  #header-card {
    flex-direction: column;
  }

  #header-text {
    text-align: center;
    margin: 20px 0 0 0;
  }
}
