<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% load philmnight_tags %}
        {% include 'bases/head_base.html' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="{{ GOOGLE_OAUTH_KEY }}">
        <title>{% philmnight_name %}</title>
    </head>
    <body>
        <div id="content">
            <div id="header-card">
                {% philmnight_logo %}
                <div id="header-text">
                    <h1>{% philmnight_name %}</h1>
                    <h2>Film Night Portal</h2>
                </div>
            </div>
            <div id="auth-links">
                {% if user.is_authenticated %}
                    <a href="/dashboard">Welcome back {{ user.first_name }} {{ user.last_name }}</a>
                {% else %}
                    <a href="{% url 'social:begin' 'google-oauth2' %}">Sign in with a UoY email</a>
                {% endif %}
            </div>
        </div>
    </body>
</html>

