<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link href="//fonts.googleapis.com/css?family=Sanchez|Inconsolata:400,700" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="navbar">
            {% if user.is_authenticated %}
                <p>{{ user.username }}</p>
            {% else %}
                <a href="#">Sign in with Slack</a>
                <a href="/discord/auth">Sign in with Discord</a>
            {% endif %}
        </div>
    </body>
</html>

