h1 {
  text-align: center;
}

table {
  width: 100%;
  text-align: left;
}

#date-submitted {
  width: 30%;
}

#in-current-vote {
  width: 15%;
}

.film-image {
  width: 100px;
}

#films {
  display: flex;
  margin: 5px;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  cursor: pointer;
}

.film {
  width: 130px;
  padding: 20px;
  margin: auto;
}

#films-link {
  margin: 20px;
  text-align: center;
  display: block;
}

#chosen-film {
  text-align: center;
  font-size: 1.3em;
}

#chosen-film img {
  width: 150px;
}
