body {
  background-color: #f3f2f4;
  color: #372d43;
  font-family: 'Inconsolata', monospace;
  overflow-x: hidden;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', monospace;
  font-weight: 200;
}

table {
  width: 100%;
  text-align: left;
}

#date-submitted {
  width: 30%;
}

#in-current-vote {
  width: 15%;
}

.film-image {
  width: 100px;
}

#content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#films {
  display: flex;
  margin: 5px;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  cursor: pointer;
}

.film:hover {
  background-color: #e8dafa;
}

.film {
  padding: 20px;
}
